/* Publication Design */
.fast-publication-gridpost{
	overflow: hidden;
	padding: 15px 0px;
	grid-template-columns: repeat(3, 1fr);
	display: grid;
	grid-gap: 20px;
}
.fast_publication_item{
    padding: 15px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    position: relative;
}
.fast_publication_img{
    height: 350px;
    position: relative;
    overflow: hidden;
    background: #ddd
}
.fast_publication_img img{
    height: 100% !important;
    width: 100%;
    transition: .2s
}
.fast_publication_img .fast_publication_text{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 60%;
    background: #00000090;
    transition: .2s;
    padding: 15px;
    box-sizing: border-box
}
.fast_publication_text h3 {
	font-size: 24px;
	font-family: "Roboto Slab", Sans-serif;
	color: #fff;
    margin: 0;
	margin-bottom: 5px;
	transition: .2s;
    text-align: center;
}
.fast_publication_text span {
	font-family: "Roboto Slab", Sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	transition: .2s;
	text-align: center;
	display: block;
}
.fast_publication_text p {
	color: #fff;
	font-family: "Noto Sans", Sans-serif;
	font-size: 14px;
    margin: 0;
    padding: 10px 0px;
	padding: 10px 0px;
	visibility: hidden;
}
.fast_publication_text a {
	background: #39B54A;
	color: #fff;
	width: 96%;
	font-size: 16px;
	padding: 10px;
	border-radius: 5px;
	font-weight: 600;
	text-align: center;
	position: absolute;
	bottom: 3%;
	left: 2%;
	visibility: hidden;
}
.fast_publication_text a:hover{
    color: #ffffff
}
.fast_publication_item:hover .fast_publication_text{
    top: 0;
    background: #00000065
}
.fast_publication_item:hover .fast_publication_text h3{
    text-align: left;
}
.fast_publication_item:hover .fast_publication_text span{
    text-align: left;
}
.fast_publication_item:hover .fast_publication_text p{
    visibility: visible;
}
.fast_publication_item:hover .fast_publication_text a{
    visibility: visible;
}
.fast_publication_item:hover img{
    transform: scale(1.2);
}



.fast-loadmore-area{
    text-align: center;
}
.fast_load_more {
	padding: 10px;
	background: #39B54A;
	color: #ffffff;
	width: 200px;
	display: inline-block;
	text-align: center;
	margin: auto;
    border-radius: 5px;
    cursor: pointer;
}
/* Load More effect */
.lds-hourglass2 {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-hourglass2:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 23px solid #cef;
    border-color: #cef transparent #cef transparent;
    animation: lds-hourglass2 1.2s infinite;
  }
  @keyframes lds-hourglass2 {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }



/* Publication Fitler Design */
.fastajax-publication-filter{
	max-width: 1200px;
	width: 100%;
	margin: auto;
}
.fastajax-publication-searchbox{
	position: relative;
	width: 100%;
	margin: auto;
}
.fastajax-publication-searchbox input {
	padding: 12px;
	box-sizing: border-box;
	border: 1px solid #ddd;
}
.fastajax-publication-searchbox button {
	position: absolute;
	padding: 15px;
	right: 0px;
	top: 0;
	background: #39B54A;
	border: inherit;
	color: #ffffff;
	font-size: 14px;
	height: 100%;
	cursor: pointer;
}
.fastajax-publication-searchbox input:focus {
	border: 1px solid #39B54A;
}
.fastajax-catpubfilter{
	display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.single-pubfitler{
    width: 100%;
    margin: 4px 6px;
}
.single-pubfitler:first-child{
    margin-left: 0px;
}
.single-pubfitler:last-child{
    margin-right: 0px;
}
.single-pubfitler label {
	font-size: 14px;
	padding-bottom: 5px;
	color: #111;
	display: block;
}
.single-pubfitler select {
	padding: 10px;
	border: 1px solid #ddd;
	background: #eeeeee;
	width: 100%;
}
.single-pubfitler select:focus{
    border: 1px solid #39B54A;
}

/* publicaiton search output */
.publicationOutputs{
    padding: 15px 0px;
}